float-container {
    border: 3px solid #fff;
    padding: 20px;
    height: 100%;
    width: 95%;
  }
  
  .float-child {
    width: 30%;
    float: left;
    padding: 20px;
    margin-left: 100px;
  }  
  
  .float-child-right {
    width: 65%;
    float: right;
    padding: 20px;
  }
  
  .buttonStyle{
    position: static;
    width: 154px;
    height: 24px;
    
    /* Medium - Heavy */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    /* UI/white */
    color: #FFFFFF;
    background-color: lightblue;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .styleHeaderSubTitleText{
    position: static;
  width: 522px;
  height: 30px;
  left: calc(50% - 522px/2);
  top: calc(50% - 30px/2 + 83.5px);
  
  /* xLarge - Medium */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  
  /* UI/mysteryGrey */
  color: #8A8A8A;
  
  
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
  }
  .styleHeaderTitleText{
    position: static;
  height: 36px;
  left: 0px;
  top: 0px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  
  /* UI/darkGrey */
  color: #454545;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px;
  }
  
  .styleHeaderText{
    text-align: left;
  width: 522px;
  height: 135px;
  left: calc(50% - 522px/2);
  top: calc(50% - 135px/2 - 31px);
  
  /* xxLarge - Light */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  
  /* UI/darkGrey */
  color: #454545;
  
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
  }
  
  
  